.outer {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid red;
  box-sizing: border-box;
}

.allPlayers {
  width: 24px;
  display: flex;
  justify-content: center;
  margin: 10% auto;
}

.player {
  height: 12px;
  width: 12px;
  transition: transform 2s;
}

.unitRow {
  width: 100%;
  display: flex;
}

.unitRow:nth-child(even) {
  flex-direction: row-reverse;
}

.unitBlock {
  width: calc(100% / 10);
  height: calc(100vh / 10);
  border: 1px solid black;
  box-sizing: border-box;
}
