.backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
}
